body {
	background-color:#536E7D;
	color:#F2DCB3;
	width:100%;
	margin:auto; 
	text-align:center;
}
h1 {
	background-color:#1A3540;
	color:#F2B28D;
	margin:0;
	padding:10px;
	text-align:left;
}
p {
	padding:5px;
}

a {
	color:#F2BCB3;
	font-weight:bold;
	cursor:pointer;
}
p > a, li > a.outil {
	color:#F2DCB3;
	font-weight:bold;
	text-decoration:underline overline;
}
ul {
	list-style:none;
	margin:0;
	padding:0;
}
li {
	background-color:#1A3540;
	text-align:left;
	margin:20px;
	padding:20px;
}
li.google {
	background-color:#1A3540;
	text-align:center;
	padding:20px;
}

